.logo{
    padding-top: 15px;
  }
  .logo-img{
    height: 50px;
    margin-right: 10px;
  }

  .custom-breadcrumb .ant-breadcrumb-separator {
    color: #777; /* Separator color */
  }
  
  .custom-breadcrumb .ant-breadcrumb-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #777; /* Default color for breadcrumb items */
    margin-bottom: 8px;
  }

  
  